.loginPage {
  background: url('../../public/images/imgc.jpg');
  background: linear-gradient(
    rgba(11, 11, 11, 0.5),
    rgba(10, 10, 10, 0.5),
    url('../../public/images/imgc.jpg')
  );
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 120%;
}

.loginForm {
  background-color: rgba(1, 32, 93, 0.6);
  color: #fff;
}

ul li:hover {
  background-color: gray;
  padding: 2px;
  border-radius: 10px;
}

.employee_img {
  width: 40%;
  height: 40px;
  border-radius: 50%;
}
